<header class="main-header">
   <div class="container">
      <div class="main-header__content">
         <!--div class="menu-toggle main-header__menu-toggle">
            <span class="menu-toggle__line"></span>
            <span class="menu-toggle__line"></span>
            <span class="menu-toggle__line"></span>
         </div-->
         <div class="main-header__top header-top">
            <div class="header-top__logo logo-block">
               <a href="{{ base_url }}" class="logo-block__link">
                  <img 
                     src="{{ source_url }}assets/img/icons/Frame 9.svg" 
                     alt="{{ settings.copyright }}" 
                     class="logo-block__img"
                  >
               </a>
            </div>
            <div class="haeder-top__promo header-promo">
               <h2 class="header-promo__title">
                  {{ settings.site_title }}
               </h2>
               <div class="header-promo__label promo-label">
                  <img 
                     src="{{ source_url }}assets/img/icons/Frame 10.svg" 
                     alt="Delivery Abiward" 
                     class="promo-label__icon"
                  >
                  <span>{{ translate.delivery }}</span>
                  <span class="promo-label__dot"></span>
                  <span>{{ translate.delivery_line }}</span>
               </div>
            </div>
            <div class="header-top__contact header-contact">
               <a href="tel:+77714613215" class="header-contact__phone">
                  {{ settings.site_phone }}
               </a>
               <a href="#" class="header-contact__adress">
                  {{ settings.site_adres }}
               </a>
            </div>
         </div>
         <div class="main-header__bottom header-bottom">
            <nav class="header-bottom__nav main-nav">
               <ul class="main-nav__list">
                  <li class="main-nav__li">
                     <a href="{{ base_url }}" class="main-nav__a">{{ translate.menu_main }}</a>
                  </li>
                  <li class="main-nav__li">
                     <a href="{{ base_url }}pages/?id=1" class="main-nav__a">{{ translate.menu_about }}</a>
                  </li>
                  <li class="main-nav__li">
                     <a href="{{ base_url }}catalog" class="main-nav__a">{{ translate.menu_products }}</a>
                  </li>
                  <li class="main-nav__li">
                     <a href="{{ base_url }}pages/?id=3" class="main-nav__a">{{ translate.menu_price }}</a>
                  </li>
                  <li class="main-nav__li">
                     <a href="{{ base_url }}contacts" class="main-nav__a">{{ translate.menu_contacts }}</a>
                  </li>
               </ul>
            </nav>
            <div class="header-bottom__lang lang-switcher">
               <a href="{% if lang != 'ru' %}{{ source_url }}{% else %}kk{% endif %}" class="lang-switcher__link">
                  <img 
                     src="{{ source_url }}assets/img/icons/planet-earth-svgrepo-com (1) 1.svg" 
                     class="lang-switcher__icon"
                  >
                  {% if lang != 'ru' %}Русский{% else %}Казакша{% endif %}
               </a>
            </div>
            <div class="header-bottom__callback">
               <a href="{{ base_url }}#callback" class="btn btn--yellow">
                  {{ translate.callback }}
               </a>
            </div>
         </div>
      </div>
   </div>
</header>