<section id="callback" class="callback callback__section section" style="background-image: url('http://localhost/abiward//assets/img/callback/bg.jpeg');">
   <div class="container">
      <div class="section-title">
         <h2 class="section-title__h2 callback__title">{{ translate.callback_app }}</h2>
      </div>
      <form class="callback__form" method="POST" action="{{ source_url }}form/send">
         <div class="flex">

            <div class="input-group callback__group flex__4">
               <input 
                  type="text" 
                  class="input-group__input" 
                  id="staticTopFormName" 
                  name="name" 
                  placeholder="{{ translate.name }}" 
                  fieldname="{{ translate.name }}"
               >
            </div>

            <div class="input-group callback__group flex__4">
               <input 
                  type="text" 
                  class="input-group__input" 
                  id="staticTopFormPhone" 
                  name="phone" 
                  placeholder="{{ translate.phone }}" 
                  fieldname="{{ translate.phone }}" 
                  required="required"
               >
            </div>

            <div class="input-group callback__group flex__4">
               <button 
                  class="btn btn--yellow send-form-button callback__btn" 
                  onclick="frontend.form(this); return false"
               >
                  {{ translate.callback_app }}
               </button>
            </div>

         </div>
      </form>
   </div>
</section>