<section class="section catalog" id="catalog">
    <div class="container">
        <div class="section__title">
            <h2 class="section-title__h2">
                Наша продукция:
            </h2>
        </div>
        <div class="catalog__list">
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/1.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Арматура
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/2.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Круг
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/3.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Катанка
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/4.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Профильные трубы
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/5.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Проволока
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/6.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Квадрат
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/7.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Профнастил
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/8.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Профильные трубы
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/9.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Швеллер
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/10.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Балки
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/11.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Сетка
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
            <div class="catalog__item category-item">
                <img 
                    src="{{base_url}}assets/img/cats/12.jpg" 
                    alt="" 
                    class="category-item__img"
                >
                <div class="category-item__info">
                    <h4 class="category-item__name">
                        Трубы
                    </h4>
                    <a href="#" class="category-item__link">
                        понробнее
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>