<section class="section catalog" id="catalog">
    <div class="container">
        <div class="section__title">
            <h2 class="section-title__h2">
                {{ translate.our_products }}
            </h2>
        </div>
        <div class="catalog__list">
            {% for item in catalog %}
                <div class="catalog__item category-item">
                    <img 
                        src="{{ source_url }}uploads/{{ item.image }}" 
                        alt="" 
                        class="category-item__img"
                    >
                    <div class="category-item__info">
                        <h4 class="category-item__name">
                            {{ item.title }}
                        </h4>
                        <a href="{{base_url}}catalog?id={{ item.id }}" class="category-item__link">
                            {{ translate.more }}
                        </a>
                        {% if is_admin %}
                            <br>
                            <button class="category-item__link modal-link delletw-link"
                                data-table="abi_catalog"
                                data-command="DELETE" 
                                data-id="{{ item.id }}"
                                style="text-transform: lower-case"
                            >
                                {{ translate.delete }}
                            </button>
                            <br>
                            <button class="category-item__link modal-link" 
                                data-table="abi_catalog"
                                data-command="UPDATE" 
                                data-fields="text=title|textarea=content|image=image" 
                                data-id="{{ item.id }}"
                                style="text-transform: lower-case"
                            >
                                {{ translate.edit }}
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% if is_admin %}
                <button class="btn btn--yellow btn--outline modal-link" type="button" 
                    data-table="abi_catalog"
                    data-command="INSERT" 
                    data-fields="text=title|textarea=content|image=image"
                >
                    {{ translate.create }} 
                </button>
            {% endif %}
        </div>
    </div>
</section>