<section class="section partners" id="partners">
    <div class="container">
        <div class="section__title">
            <h2 class="section-title__h2">
                {{ translate.partners }} 
                {% if is_admin %}
                    <button class="modal-link" 
                        data-table="abi_partners"
                        data-command="INSERT" 
                        data-fields="image=image"
                    >
                        {{ translate.add }} 
                    </button>
                {% endif %}
            </h2>
        </div>
        <div class="partners-swiper swiper-container">
            <div class="swiper-wrapper">
                {% for partner in partners %}
                    <div 
                        class="partners-swiper__item swiper-slide"
                    >
                        <img 
                            src="{{ source_url }}uploads/{{ partner.image }}" 
                            class="partners-swiper__logo"
                        >
                        {% if is_admin %}
                            <button class="modal-link delete-link" 
                                data-table="abi_partners"
                                data-command="DELETE" 
                                data-id="{{ partner.id }}"
                            >
                                x
                            </button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>