<section class="section partners" id="partners">
    <div class="container">
        <div class="section__title">
            <h2 class="section-title__h2">
                Наши партнеры
            </h2>
        </div>
        <div class="partners-swiper swiper-container">
            <div class="swiper-wrapper">
                <div 
                    class="partners-swiper__item swiper-slide"
                >
                    <img 
                        src="{{ base_url }}assets/img/partners/1.svg" 
                        alt="Title Partner" 
                        class="partners-swiper__logo"
                    >
                </div>
                <div 
                    class="partners-swiper__item swiper-slide"
                >
                    <img 
                        src="{{ base_url }}assets/img/partners/2.svg" 
                        alt="Title Partner" 
                        class="partners-swiper__logo"
                    >
                </div>
                <div 
                    class="partners-swiper__item swiper-slide"
                >
                    <img 
                        src="{{ base_url }}assets/img/partners/3.svg" 
                        alt="Title Partner" 
                        class="partners-swiper__logo"
                    >
                </div>
                <div 
                    class="partners-swiper__item swiper-slide"
                >
                    <img 
                        src="{{ base_url }}assets/img/partners/4.svg" 
                        alt="Title Partner" 
                        class="partners-swiper__logo"
                    >
                </div>
                <div 
                    class="partners-swiper__item swiper-slide"
                >
                    <img 
                        src="{{ base_url }}assets/img/partners/5.svg" 
                        alt="Title Partner" 
                        class="partners-swiper__logo"
                    >
                </div>
            </div>
        </div>
    </div>
</section>