<section class="main-slider">
    <div class="main-slider__content slider-content">
        <div class="container">
            <div class="main-slider-swiper swiper-container">
                <div class="swiper-wrapper">
                    {% for item in slider %}
                        <div 
                            class="main-slider-swiper__item slider-item swiper-slide"
                            style="background-image: url('{{source_url}}uploads/{{ item.image }}');"
                        >
                            <div class="slider-item__content">
                                {{ item.content|raw }}
                                {% if is_admin %}
                                    <button class="modal-link" 
                                        data-table="abi_slider"
                                        data-command="UPDATE" 
                                        data-fields="textarea=content|image=image"
                                        data-id="{{ item.id }}"
                                    >
                                        {{ translate.edit }}
                                    </button>
                                {% endif %}
                            </div>

                            {% if is_admin %}
                                <button class="modal-link delete-link" 
                                    data-table="abi_slider"
                                    data-command="DELETE" 
                                    data-id="{{ item.id }}"
                                >
                                    x
                                </button>
                            {% endif %}

                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if is_admin %}
                <br>
                <button class="modal-link" 
                    data-table="abi_slider"
                    data-command="INSERT" 
                    data-fields="textarea=content|image=image"
                >
                    + {{ translate.add }}
                </button>
            {% endif %}
        </div>
    </div>
</section>