{{ include('widgets/_header.twig') }}

{{ include('widgets/breadcrumbs.twig') }}

{{ is_admin }}

<section class="section auth">
    <div class="container">
        <div class="login-form">
            <form action="{{ source_url }}admin/login" method="POST">
                <div class="login-form__block input-group">
                    <label for="user-login">{{ translate.login }}</label>
                    <input id="user-login" class="input-group__input" required type="text" name="login">
                </div>
                <div class="login-form__block input-group">
                    <label for="user-pass">{{ translate.password }}</label>
                    <input id="user-pass" class="input-group__input" required type="password" name="password">
                </div>
                {% if message %}
                    <div class="login-form__block">
                        <span class="err-mess">
                            {{ message }}
                        </span>
                    </div>
                {% endif %}
                <div class="login-form__block">
                    <button type="submit" class="btn btn--yellow">{{ translate.confirm }}</button>
                </div>
            </form>
        </div>
    </div>
</section>

{{ include('widgets/_footer.twig') }}