<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Abiward.kz - {{ page.title }}</title>
        <link rel="stylesheet" href="{{ source_url }}assets/css/swiper.min.css" />
        <link rel="stylesheet" href="{{ source_url }}assets/css/main.css?v=9">
    </head>
    <body>

        {{ page_content|raw }}

    </body>
  
    <script src="{{ source_url }}assets/js/swiper.min.js"></script>
    <script src="{{ source_url }}assets/js/fslightbox.js"></script>
    <script
      src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=c931e95f-6835-4672-9786-8ec02a9db87a"
      type="text/javascript"
    ></script>
  
    {% if is_admin %}
      <script src="{{ source_url }}assets/js/administrator.js"></script>
      <script src="https://cdn.tiny.cloud/1/pl9t5a6rms35oafg1trngnjckrcpo8lyyh66a3kpehzi0tnk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    {% endif %}
  
    <script>
        function mainSlider() {
  
          var slider = new Swiper('.main-slider-swiper', {
            effect: null,
            loop: true,
            slidesPerView: 2,
            preventClicks: true,
            preventClicksPropagation: false,
            lazyLoadingInPrevNext: true,
            spaceBetween: 20,
            navigation: {
                nextEl: ".swiper-button-next.building-steps__controll",
                prevEl: ".swiper-button-prev.building-steps__controll",
            },
          });
  
        }
  
        mainSlider();
  
        function partnersSlider() {
  
        var slider = new Swiper('.partners-swiper', {
          effect: null,
          loop: true,
          slidesPerView: 5,
          preventClicks: true,
          preventClicksPropagation: false,
          lazyLoadingInPrevNext: true,
          spaceBetween: 40,
          navigation: {
              nextEl: ".swiper-button-next.building-steps__controll",
              prevEl: ".swiper-button-prev.building-steps__controll",
          },
        });
  
        }
  
        partnersSlider();
  
        function reviewsSlider() {
  
        var slider = new Swiper('.reviews-swiper', {
          effect: null,
          loop: false,
          slidesPerView: 3,
          preventClicks: true,
          preventClicksPropagation: false,
          lazyLoadingInPrevNext: true,
          autoHeight: true,
          spaceBetween: 12,
          navigation: {
              nextEl: ".swiper-button-next.building-steps__controll",
              prevEl: ".swiper-button-prev.building-steps__controll",
          },
        });
  
        }
  
        reviewsSlider();
    </script>
  
  </html>
  